profiles {
  docker {docker.enabled=true}
  singularity { singularity.enabled=true
                singularity.autoMounts = true
                docker.enabled=false 
  }
  google {
    includeConfig 'conf/GCP.config'
    includeConfig 'conf/GCP_resources.config'
  }
  slurm {
    includeConfig 'conf/slurm.config'
    includeConfig 'conf/slurm_resources.config'
  }
}

params {
  // Standard configs
  samplesheet=''
  flowcell='FLO-MIN106'
  kit='SQK-LSK109'
  barcode_kit='EXP-NBD104 EXP-NBD114'
  gpu_active=false
  gpus='0'
  outdir = './results'
  tracedir = "${params.outdir}/pipeline_info"
  help = false

  //Filtering configs
  min_length=1000
  min_mean_q=70
  genome_size_bytes=4400000

  //Kraken
  kraken_db = "s3://genome-idx/kraken/k2_standard_20201202.tar.gz"
  kraken_tax_level = 'S'

  // Rasusa
  subset_cov=100
  genome_size='4.4mb'

  // Assemblies
  assembly_genome_size = '5m'

  //Trycycler
  min_contig_depth = 0.5
  max_length_diff = 1.3
  min_identity = 95
  max_add_seq = 10000
  max_indel_size = 1000

  //Anvio
  anvio_run=true
  project_name='ProjectName'
  min_occurence='1'
  minbit='0.5'
  distance='euclidean'
  linkage='ward'
  mcl='2'
  bin_name='EVERYTHING'
  collection_name='Default'

  //Slurm controller
  node_partition='main'
  gpu_node_partition='gpu'
  gpu_clusterOptions="--gres=gpu:1 --constraint=pascal"

  //Skip steps
  skip_demux = false

  //Solo steps
  only_demux = false
  only_assembly = false
  only_polish=false
}  

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}
