params {
    google_zone = 'us-east4-a'
    google_bucket = false
    google_debug = true
    google_preemptible = false
    project='name-holder'
}
process.executor = 'google-lifesciences'
google.zone = params.google_zone
google.lifeSciences.bootDiskSize = 100.GB
google.lifeSciences.debug = params.google_debug
workDir = params.google_bucket
google.lifeSciences.preemptible = params.google_preemptible
if (google.lifeSciences.preemptible) {
    process.errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
    process.maxRetries = 5
}