process {
    withLabel:process_low {
        machineType='n1-standard-8'
        disk='25 GB'
    }
    withLabel:process_medium {
        machineType='n1-standard-16'
        disk='50 GB'
    }
    withLabel:process_high {
        machineType='n1-standard-32'
        disk='100 GB'
    }
    withLabel:process_overkill {
        machineType='n1-standard-64'
        disk='200 GB'
    }
}