nodename = params.node_partition
gpu_nodename=params.gpu_node_partition
gpu_clusterOptions=params.gpu_clusterOptions

process {

    withName:guppy_basecaller {
        if (params.gpu_active){
            docker.runOptions      = '--gpus all'
            singularity.runOptions = '--nv'
            
            cpus = 12
            memory = 64.GB
            time = 24.h
            queue = gpu_nodename
            clusterOptions = gpu_clusterOptions
        } else {
            cpus=40
            memory=180.GB
            time = 336.h
            queue = nodename
        }
        
    }

    withLabel:process_low {
        cpus = 4
        memory = 16.GB
        time = 5.h
        queue = nodename
    }
    withLabel:process_medium {
        cpus = 8
        memory = 32.GB
        time = 10.h
        queue = nodename
    }
    withLabel:process_high {
        cpus = 16
        memory = 96.GB
        time = 24.h
        queue = nodename
    }
    withLabel:process_overkill {
        cpus = 38
        memory = 180.GB
        time = 48.h
        queue = nodename
    }
}